.NavBar {

    /* background-color: rgb(107, 174, 150); */
    /* background-color: #77bde0; */


}



.head-logo {
    width: 80%;
    transform: rotate(15deg);
    margin-bottom: 60px;
    position: absolute;
    right: 0;
    top: 3em;

}


.wdm-art {
    margin-left: 1em;
    margin-top: 6em;
    width: 40%;
    transform: rotate(-5deg);

}